node_modules/
dist/
.env
.DS_Store
firebase-admin-key.json
firebase-admin-key.json.json
npm-debug.log
yarn-error.log
.idea/
.vscode/
cloudflared.exe
tunnel.log
firebaseAdminKey.json
firebaseAdminKey.json
firebaseAdminKey.json
serviceAccountKey.json
/serviceAccountKey.json
